.app {
  display: grid;
  grid-template-columns: 70fr 30fr;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 4.8rem;

  align-items: center;
  justify-content: center;

  padding: 1.2rem 2.4rem;
}

.current-index-container {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
}

.main-content p {
  font-size: 3.6rem;
  font-weight: 500;
}

.main-content .active-text {
  color: #24800a;
  font-size: 4.2rem;
  font-weight: 700;
}

.active-component-text {
  color: #e03131;
}

/* ================= */
/* Media Query */
/* Below 544px (SmartPhones) */
/* ================= */
@media (max-width: 34em) {
  .app {
    grid-template-columns: 1fr;
  }
} ;
